*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:poppins;
}

body{
background:#0d0c1d;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 80px;
}

nav a{
color:white;
margin:0 12px;
text-decoration:none;
}

span{color:#ffb703;}

.hero{
padding:80px;
text-align:center;
}

section{
padding:60px 80px;
}

.cards,.project-cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:25px;
}

.card,.project{
background:#15172b;
padding:20px;
border-radius:10px;
text-align:center;
}

.exp{
margin-top:20px;
line-height:30px;
}

.contact-box{
display:flex;
gap:40px;
margin-top:20px;
}

input,textarea{
width:220px;
padding:10px;
margin-bottom:10px;
background:#222;
border:none;
color:white;
}

button{
background:#ffb703;
border:none;
padding:10px 20px;
}

footer{
text-align:center;
padding:20px;
background:#080717;
margin-top:30px;
}
